.tile {
  align-content: center;
  height: 60px;
  width: 60px;
}

.white-tile {
  background-color: antiquewhite;
}

.piece {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
}

.move {
  align-content: center;
  height: 60px;
  width: 60px;
  background-color: rgb(124, 164, 223);
}
