#checkerboard {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(10, 80px);
  background-color: #00cf91;
  width: 800px;
  height: 800px;
}

#checkerboard .tile {
  height: 80px;
  width: 80px;
}

#checkerboard .black-tile {
  background-color: #61635e;
}

#checkerboard .white-tile {
  background-color: antiquewhite;
}
